<%- include("../include/head")  %> 
<link rel="stylesheet" href="/frontEnd/assets/css/style.css">
    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/select2/css/select2.min.css"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css"
    />

    <link
      rel="stylesheet"
      href="/frontEnd/assets/plugins/dropzone/dropzone.min.css"
    />
    <!-- Main CSS -->
	<link href="/backEnd/assets/Tagging-System-Autocomplete-Amsify-Suggestags/css/amsify.suggestags.css" rel="stylesheet">

	<style>
		.amsify-suggestags-area .amsify-suggestags-input-area {
			min-height: 250px !important;
		}
		body {
			background-color: #f8f9fa;
		}
		.change-photo-btn {
			background: #19C1DC;
			width:200px;
			border-radius: 25px;
			height:40px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
		}
		.change-photo-btn input {
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50% , -50%);
			width:100%;
			height:100%;
			opacity: 0;
		}
	</style>
<%- include("../include/aside")  %> 
<%- include("../include/navePare")  %> 
<%- include("../include/alert")  %> 
</head>
    </body>
        <!-- Main Wrapper -->
        <div class="main-wrapper">
            <!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row">
                            <div class="col-sm-7 col-auto">
                                <h3 class="page-title">التدريبات </h3>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">لوحه التحكم</a></li>
                                    <li class="breadcrumb-item active">اضافه تدريبات </li>
                                </ul>
                            </div>
                        </div>
                        <%- include("../include/notification")  %> 
                    </div>
                    <!-- /Page Header -->
                    <div class="row">
			            <div class="col-md-12">
							<form method="post" enctype="multipart/form-data">
								<!-- Basic Information -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">معلومات بسيطه</h4>
										<div class="row form-row">
											<div class="col-md-12">
												<div class="form-group">
													<div class="change-avatar">
														
														<div class="row">
															<div class="upload-img col-md-6">
															<img style="width:200px;height:150px;margin:0 10px 10px 0" src="/backEnd/assets/img/disabilityImage/avatar.jpg" alt="User Image">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> ارقع صوره</span>
																<input type="file" class="upload " name="image">
															 
															</div>
																<% if (validationError) { %>
																	<% if (validationError.image) { %>
																		<span class="text-danger"><%=validationError.image[0].msg %></span>
																	<% } %>
																<% } %> 
															<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
														</div>
														<div class="upload-img col-md-6">
															<img style="width:200px;height:150px;margin:0 10px 10px 0" src="/backEnd/assets/img/disabilityImage/avatar.jpg" alt="User Image">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> ارقع فيديو</span>
																<input accept="video" type="file" class="upload " name="video">
															 
															</div>
																<% if (validationError) { %>
																	<% if (validationError.video) { %>
																		<span class="text-danger"><%=validationError.video[0].msg %></span>
																	<% } %>
																<% } %> 
															<small class="form-text text-muted">Allowed dvd, avi , mkv , mv4 , mp4 , mp3 , flv , wmv</small>
														</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label>لمحه عن التدريب <span class="text-danger">*</span></label>
													<textarea name="title" type="disability" class="form-control"></textarea>
													<% if (validationError) { %>
														<% if (validationError.title) { %>
															<span class="text-danger"><%=validationError.title[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>
											
											<div class="col-md-12">
												<div class="form-group">
													<label>الوصف <span class="text-danger">*</span></label>
													<input id="tags" name="content" type="text" class="form-control">
													<% if (validationError) { %>
														<% if (validationError.content) { %>
															<span class="text-danger"><%=validationError.content[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<label>الاعاقات <span class="text-danger">*</span></label>
													<select class="form-control" name="disability" id="">
														<option value=""></option>
														<% disability.forEach(element => { %>
															<option value="<%= element.id %>"><%= element.name %></option>
														<% }) %>
													</select>
													<% if (validationError) { %>
														<% if (validationError.disability) { %>
															<span class="text-danger"><%=validationError.disability[0].msg %></span>
														<% } %>
													<% } %>  
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Basic Information -->
							
								<div class="submit-section submit-btn-bottom">
									<button style="margin-bottom:30px" type="submit" class="btn btn-primary submit-btn">Save Changes</button>
								</div>
							</form>
						</div>
                    </div>
                </div>			
            </div>
            <!-- /Page Wrapper -->


        <%- include("../include/footer_script")  %> 
        		
        <script src="/backEnd/assets/Tagging-System-Autocomplete-Amsify-Suggestags/js/jquery.amsify.suggestags.js"></script>
		<script>
			$('input[id="tags"]').amsifySuggestags({

		type : 'amsify',
		suggestions: ['Black', 'White', 'Red', 'Blue', 'Green', 'Orange']

		});
		</script>
		<script src="/backEnd/assets/plugins/datatables/jquery.dataTables.min.js"></script>
		<script src="/backEnd/assets/plugins/datatables/datatables.min.js"></script>
        <script src="/backEnd/assets/js/script.js"></script>

    </head>
</body>