<%- include("../include/head.ejs") %> <%- include("../include/navebar.ejs") %>
<%- include("../include/notification.ejs") %> <style></style>
<style>
  .exams .row a {
    text-decoration: none;
  }
  .exams .row a .box {
    background: #eee;
    padding: 10px 15px;
    border-radius: 15px;
    transition: 0.5s;
    border: 1px solid #ddd;
  }
  .exams .row a .box h2 span:last-of-type {
    color: #555;
    font-size: 22px !important;
  }
  .exams .row a .box:hover {
    box-shadow: 10px 10px 15px rgba(212, 0, 255, 0.2);
  }
</style>
<link rel="stylesheet" href="/frontEnd/assets/css/select.css" />

<div class="exams">
  <div class="container">
    <h1 class="text-center">الاختبارات</h1>
    <div class="row">
      <% allTesting.forEach((element , i) => { %>
      <a href="/enterExam/<%= element.id %>" class="col-md-6 mx-auto">
        <div class="box">
          <h2 style="text-align: right; margin-bottom: 30px">
            الاختبار رقم
            <span style="color: #888; font-size: 25px"
              >( <%= element.numberOfTest %> )</span
            >
            <br />
            <span style="margin-top: 10px; display: block">
              <%= element.TestingDisability.name %></span
            >
          </h2>
        </div>
      </a>
      <% }) %>
    </div>
  </div>
</div>

<%- include("../include/footer.ejs") %> <%-
include("../include/footerScript.ejs") %>
<script src="/frontEnd/assets/js/main.js"></script>
<script
  src="/frontEnd/assets/js/vendors.min.js"
  type="text/javascript"
></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<script
  src="/frontEnd/assets/js/select2.full.min.js"
  type="text/javascript"
></script>
<!-- END PAGE VENDOR JS-->

<!-- BEGIN PAGE LEVEL JS-->
<script
  src="/frontEnd/assets/js/form-select2.js"
  type="text/javascript"
></script>
