<%- include("../include/head.ejs") %> <%- include("../include/navebar.ejs") %>
<%- include("../include/notification.ejs") %>

<style>
  .box .row > div {
    margin-bottom:20px
  }
  .box .row > div > div {
    background-color: #eee;
    border-radius: 15px;
    border: 1px solid #ddd;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    padding: 20px 10px 10px;
    height:100%
  }

  .box .row > div .left .notification {
    position:absolute;
    left:0;
    top:0;
    z-index: 50;
    width:100%;
    padding:10px;
    color:white;
    background:rgb(234, 77, 77);
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
    .box .row > div .left .notification.active {
    transform: translateY(10px);
    }
  .box .row > div .left span {
    position:relative;
  }
  .box .row > div .left button {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:0;
    background:white;
    z-index: 3;
    border-radius: 50%;
  }

  .box .row > div .left span::after , .box .row > div .left span::before {
    content:"";
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    background:#ccc;
    top:0;
    left:0;
  }
  .box .row > div .left span.active::before {
    background:#ddd;
        z-index: 1;
    animation: anim 1.5s ease-in-out 1s infinite ;
  }
  
  .box .row > div .left span.active::after {
        z-index: 2;
    animation: anim 1.5s ease-in-out 0s infinite ;
  }
 
  @keyframes anim {
      0% {
        width:100%;
        height:100%;
        left:0%;
        top:0%
      }
      100% {
        width:140%;
        height:140%;
        left:-20%;
        top:-20%      
      }
  }
</style>
<link rel="stylesheet" href="/frontEnd/assets/css/select.css" />

<div class="exams">
  <div class="text-center alert alert-danger">اذا قمت بتسجيل الاجابه واردت اعاده التسجيل قم بالضغط علي ايكونت الميكروفون وبالتالي سيتم اعاده التسجيل</div>
  <div class="container">
    <h1 class="text-center">الاختبارات</h1>
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="box">
          <h2 style="text-align: center; margin-bottom: 70px">
            الاختبار رقم ( <%= myExam.numberOfTest %> )
          </h2>
          <% myExam.exam.forEach((element , i) => { %>
          <div class="row">
            <div class="col-md-6">
              <div class="right">
                <h3>
                  المطلوب:<span class="s-1"></span>
                    نطق كلمة <span class="s-2"><%= element %></span></span
                  >
                </h3>
              </div>
            </div>
            <div class="col-md-6">
              <div class="left">
                <div class="notification "></div>
                <span class="d-inline-flex icon align-items-center justify-content-center">
                  <button name="record" data_atrr = "<%= i %>">
                    <i class="fas fa-microphone"></i>
                  </button>
                  <button class="d-none" name="stop">
                    <i class="fas fa-microphone-slash"></i>
                  </button>
                </span>
                <h3>اضغط لبدا التسجيل</h3>
                <audio src="" controls class="d-none"></audio>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <button style="margin:auto"  class="btn btn-success result d-block">ارسال الاجابه</button>

  </div>
</div>

<%- include("../include/footer.ejs") %> <%-
include("../include/footerScript.ejs") %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>

<script>
    var btnStart = document.querySelectorAll('button[name="record"]');
    var sendresult = document.querySelector(".result")
    var myrecordes = []
    btnStart.forEach((ele , i) => {
    ele.addEventListener('click', async () => {
          ele.parentElement.classList.toggle("active")
          var btnStop = ele.nextElementSibling;
          var audio = ele.parentElement.parentElement.lastElementChild;
          btnStop.classList.toggle("d-none")
          ele.classList.toggle("d-none")
          if(!audio.classList.contains("d-none")) {
            audio.classList.add("d-none")
            audio.src = ""
          } 
          var stream = await navigator.mediaDevices.getUserMedia({audio: true});
          var mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.start();
          var chunks = [];
          mediaRecorder.ondataavailable = (e)=>{
                chunks.push(e.data);
          }
          //function to catch error
          mediaRecorder.onerror = (e)=>{
                alert(e.error);
          }
          mediaRecorder.onstop = (e)=>{
                var blob = new Blob(chunks , {type : 'audio/ogg; codecs=opus'});
                var url = URL.createObjectURL(blob);
                //create url for audio
                var record = new File([blob], "record-name2.ogg", { type: 'audio/ogg; codecs=opus', lastModified: new Date().getTime() });
                myrecordes[parseInt(ele.getAttribute('data_atrr'))] = record
                
                
                btnStop.classList.toggle("d-none")
                  ele.classList.toggle("d-none")
                  ele.parentElement.classList.toggle("active")
                  audio.classList.remove("d-none")
                  audio.src = url
              
          }
          btnStop.addEventListener('click',()=>{
            console.log(chunks)
            mediaRecorder.stop();
                
          })
      })
      })

    sendresult.onclick = function(e) {
        var allAudios = document.querySelectorAll("audio")
        var test = false
        allAudios.forEach(ele => {
          if(ele.classList.contains("d-none")) {
            ele.parentElement.firstElementChild.innerHTML = "يجب عليك اجتياذ هذا الامتحان"
            ele.parentElement.firstElementChild.classList.add("active")
            setTimeout(() => {
            ele.parentElement.firstElementChild.innerHTML = ""
            ele.parentElement.firstElementChild.classList.remove("active")            
          } , 2000)
          test = true
          }
        })
        if(test) return
        var data = new FormData()
        myrecordes.forEach(ele => {
          data.append("audio" ,  ele)
        })
        axios({
          url : "/sendResult/<%= myExam.id %>",
          method : "post",
          data,
        }).then(result => {
          e.target.remove()
          alert("تم ارسال الاجابات بنجاح انتظر النتيجه في خلال 24 ساعه ")
          setTimeout(() => {
            window.location.href = "/allTesting"
          } ,3000)
        })   
    }
</script>
